* {
    font-family: "Heebo", sans-serif;
    font-weight: 900;
    
}

body {
    background-color: rgb(67, 67, 67);
}

.controls {
    position: absolute;
    right: 25%;
    z-index: 500;
    margin-top: -50px;
}

.timeDisplay {
    position: absolute;
    left: 25%;
    z-index: 500;
    margin-top: -50px;
}

.active {
	transform: scale(1);
	animation: playback 1s infinite;
}

.disabled {
    height: 40px;
}

.verifiedTime {
    position: absolute;
    left: 25%;
    z-index: 500;
    margin-top: -50px;
}

.contentContainer {
    margin-top: -75px;
    z-index: 400;
}

.unit {
    position: absolute;
    text-align: center;
    width: 100%;
    margin-top: -75px;
    font-size: small;
}

.timeControlButton{
    position: 20px;
}

.blob {
	background: rgb(255, 0, 0);
	border-radius: 50%;
	margin: 10px;
	height: 20px;
	width: 20px;

	box-shadow: 0 0 0 0 rgb(255, 0, 0);
	transform: scale(1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
	}
}

@keyframes playback {
	0% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(0, 4, 255, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
	}

	100% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
	}
}

.isLive span {
    background-color: red;
    color: black;
}

.notLive span {
    background-color: grey;
}

.unitSmall {
    position: absolute;
    text-align: center;
    width: 100%;
    margin-top: -75px;
    font-size: small;
    color: white;
    
}

#gauge-demo {
    height: 50px;
    padding-bottom: 350px;
    background-color: "none";
}

.engineRpmScale {
    position: absolute;
    margin-top: -45px;
    margin-left: 90px;
    font-size: smaller;
}

.oilPressureScale {
    position: absolute;
    margin-top: -65px;
    margin-left: 90px;
    font-size: smaller;
}

.toggleScale {
    position: absolute;
    margin-top: 75px;
    margin-right: 100px;
    margin-left: -50px;
    z-index: 900;
}

.Compressor {
    margin-left: 85px;
    margin-right: 0px;
    margin-top: 45px;
}

.mainPumpScale {
    position: absolute;
    margin-top: -70px;
    margin-left: -20px;
    font-size: smaller
}

.navButton {
    background-color: none;
    position: sticky;
    text-align: center;
    margin-top: -30px;
    width: 100%;
    z-index: 450;

}

.sideGuageTitle {
    font-size: 13px;
}

#gauge-demo-small {
    height: 50px;
    padding-bottom: 350px;
    background-color: "none";
}

.gaugeImg {
    position: absolute;
    width: 1487px;
    position:absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: -15px;
    z-index: 0;
}

.gaugeImgSmall {
    position: relative;
    width: 300px;
    position:absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 40px;
    z-index: 0;
}

.drillStats {
    border: black 2px;
    border-radius: 2px;
    border-style: solid;

}


.backingPic {

    /* background-image: url("./assets/IMG_6428.JPG"); */
    background-size: fill
}

.drillStats {
    text-align: center;
}

.assetSelection {
    border: solid;
}

.modeContainer {
    height: 60px;
}


.bannerBox {
    margin-bottom: 30px;
    background-color: lightgray;
    text-align: center;
    border-radius: 5px;
    font-family: 'Overpass', sans-serif;
    padding-top: 10px; padding-bottom: 10px;
    border-style: solid;
}

.sideGauge {
    height: 100px
}

.controlPanelBox {
    margin-bottom: 30px;
    background-color: lightgray;
    text-align: center;
    border-radius: 5px;
    font-family: 'Overpass', sans-serif;
    padding-top: 10px; padding-bottom: 10px;
    border-style: solid;
    padding-bottom: 50px;
}

.submitPanel {
    margin-left: 0px;
    margin-right: 0px;
}

input {
    width: 100%;
}

.modeSpace {
    width: 70%;
    margin: auto;
    text-align: center;
    
}

.dropDown {
    width: 100%;
}

.nav-item {
    padding: 20px;
}

.navbar {

    background-color: "none";
    background-repeat: space;
}

.noMatch {
    text-align: center;
}

.logo {
    height: 50px;
    z-index: 500;
}

.gauge {
    height: 350px;
    width: 100%;
}

.bigGauge {
    height: 535px;
    width: 100%;
}

.mobileScale {
    display: block;
    margin: auto;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

#gauge-container {
    position: relative;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    background-repeat: no-repeat;
    width: 1500px;
    height: 200px;
}

.gauge-container-small {
    position: relative;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
    
    /* background-image: url('./assets/340x340.png');
    background-size: cover;
    background-clip:content-box; */
}

/* width: 786px;
height: 500px; */

#gauge-container > div {
    display: inline-block;
    position: relative;
}

.gauge-container-small > div {
    display: inline-block;
    position: relative;
}

.left-section {
    top: -20px;
    left: -40px;
}

.center-section {
    top: 25px;
}

.right-section {
    top: -20px;
    right: -40px;
}

.speed-value {
    position: absolute;
    border: 2px solid #f05b41;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    left: 28%;
    top: 36%;
    line-height: 100px;
}

.speed-value > span {
    font-size: 50px;
    font-weight: lighter;
    color: #f05b41;
}

#fuel-gauge {
    position: absolute;
    left: 34%;
    bottom: 5%;
}

#slider {
    position: relative;
    top: -105px;
    margin: 0 auto;
}

#slider .dx-slider-bar {
    background-color: #fff;
}

#slider .dx-slider-handle {
    background-color: #f05b41;
    width: 16px;
    height: 16px;
    margin-top: -8px;
    margin-right: -8px;
    border-radius: 50%;
    border: none;
}

#slider .dx-slider-handle .dx-inkripple-wave {
    background: none;
}

#slider .dx-slider-handle:after {
    background-color: #f05b41;
}

#slider .dx-slider-range.dx-slider-range-visible {
    border-color: #f05b41;
    background-color: #f05b41;
}

.GaugeTitle {
    position: relative;
    width: 100%;
    height: 0px;
    display: block;
    margin: auto;
}

.GaugeTitleSmall {
    position: absolute;
    width: 100%;
    height: 0px;
    margin: auto;
margin-top: -40px;
    color: rgb(206, 206, 206);

}

.expandable {
    background: "none";
    overflow: hidden;
    color: #000;  
    line-height: 50px;
  
    transition: all .5s ease-in-out;
    height: 0;
   }
   
   .expandable:target {
    height: 60px;
}

.collapseArrow {
    width: "70%";
    margin: "auto";
    text-align: "center";
    float: "none";
    display: "block"
}

.placeholder {
    height: 100px;
}

.coolantLevel {
    font-size: x-small;
}
  
/* @media screen and (min-width: 100px) {
    #gauge-container {
        display: none;
    }

    .gaugeImg {
        display: none;
    }
}

@media screen and (min-width: 1500px) {
    #gauge-container {
        display: block;
    }

    .gaugeImg {
        display: block;
    }

    } */
